#VARIABLES
POSTGRES_USER= #create your psql username here
POSTGRES_PASSWORD= #your psql password goes here
POSTGRES_DB= #your psql db name goes here

# DATABASE CONNECTION Use your pg username and password and DB name
DATABASE_URL="postgresql://POSTGRES_USER:POSTGRES_PASSWORD@localhost:5432/POSTGRES_DB?schema=public"